<ul class="video-list">
  <video-list-entry on-click="$ctrl.onClick" ng-repeat="video in $ctrl.videos" video="video"></video-list-entry>
<!--   <video-list-entry videoObject="$ctrl.videosData[0]" ></video-list-entry>
  <video-list-entry videoObject="$ctrl.videosData[1]" ></video-list-entry>
  <video-list-entry videoObject="$ctrl.videosData[2]" ></video-list-entry>
  <video-list-entry videoObject="$ctrl.videosData[3]" ></video-list-entry>
  <video-list-entry videoObject="$ctrl.videosData[4]" ></video-list-entry> -->

</ul>
